<section class="section">
  <%= month_calendar() do |date| %>
    <%= date %>
  <% end %>
</section>

<section class="section">
  <%= week_calendar(number_of_weeks: 1) do |date| %>
    <%= date %>
  <% end %>
</section>

<section class="section">
  <%= calendar(number_of_days: 1) do |date| %>
    <%= date %>
  <% end %>
</section>
