<!DOCTYPE html>
<html lang="ja" class="has-background-white-bis">
  <head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/3772f19f3b.js" crossorigin="anonymous"></script>
  </head>

  <body class="has-navbar-fixed-top">
    <% if flash[:notice] %>
      <div class="notification is-info is-light">
        <button class="delete"></button>
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        <p><%= alert %></p>
      </div>
    <% end %>

    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
